<ion-view view-title="Titles">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right bristol" type="item-text-wrap" href="/#/info">
	      <img ng-src="img/bristol.png">
	  </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right hulldaily" type="item-text-wrap">
	    <img ng-src="img/nottingham.png">
      </ion-item>
      <ion-item class="item-remove-animate item-avatar item-icon-right nottingham" type="item-text-wrap">
	    <img ng-src="img/hulldaily.png">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>