<ion-view view-title="Info">
  <ion-content>
    <ion-list no-border>
      <ion-item href="/#/articles">
        <i class="icon ion-planet"></i> Full Articles
      </ion-item>

      <ion-item href="/#/videos">
        <i class="icon ion-leaf"></i> Videos
      </ion-item>

      <ion-item href="/#/images">
        <i class="icon ion-camera"></i> Images
      </ion-item>

      <ion-item href="/#/comments">
        <i class="icon ion-camera"></i> Comments
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>