<ion-view view-title="Info">
<ion-content>
  <ion-list no-border>
    <ion-item>
      <ion-icon name='planet' item-left><i class="icon ion-planet"></i></ion-icon>
      <ion-note item-right>
      Full Articles
      </ion-note>
    </ion-item>

    <ion-item>
      <i class="icon ion-leaf"></i>
      Videos
    </ion-item>

    <ion-item>
      <i class="icon ion-camera"></i>
      <ion-note item-right>
        Images
      </ion-note>
    </ion-item>

  </ion-list>
  </ion-content>
  </ion-view>